{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/display.css' %}" rel="stylesheet">

    <title>Ogidni - {% block title %}Collaborative writing{% endblock %}</title>
  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% block nava_1 %}<li>{% endblock %}<a href="index.html">Home</a></li>
            {% block nava_2 %}<li>{% endblock %}<a href="about.html">About</a></li>
            {% block nava_3 %}<li>{% endblock %}<a href="contact.html">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="/ogidni/logout/">Logout</a></li>       
                <li><a href="/ogidni/add_story/">Start story</a></li>
            {% else %}
                <li><a href="/ogidni/register/">Register</a></li>
                <li><a href="/ogidni/login/">Login</a></li>
            {% endif %}
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.nav-container -->
    </div><!-- /.navbar -->

    <div class="container">
      {% block body_block %}{% endblock %}
      <hr>
      <footer>
        <p>© CollabIt! 2014 All Rights Reserved</p>
      </footer>
    </div><!--/.container-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block external_scripts %}{% endblock %}
  </body>
</html>
