{% extends 'ogidni/base.html' %}






{% block body_block %}
    <h1>Collaborative Writing</h1>
    
    {% if stories %}
        {% for story in stories %}
			<div class="panel panel-default">
			  <div class="panel-heading">
			  	<h3><a href="/ogidni/{{ story.url }}">{{ story.name }}</a><span> class="badge">{{ story.upvotes }} | {{ story.downvotes }}</span></h3>
			  </div>
			  <div class="panel-body">
			    <p>{{ story.text }}<p>
			    <div class="well well-sm">Submitted {{ story.postdate }}</div>
			  </div>
			</div>
        {% endfor %}
    {% else %}
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	<h3>Sorry!</h3>
		  </div>
		  <div class="panel-body">
		    <p>There are no posts to show.<p>
		  </div>
		</div>
    {% endif %}
{% endblock %}
            
{% block nava_1 %}<li class="active">{% endblock %}